@page "/"

<PageTitle>Index</PageTitle>

<div class="centered-content">
    <h1>Bem vindo a Smile File Manager</h1>
    <p>Seu sistema especializado em gerenciamento de pacientes.</p>
</div>


<div class="bottom-content">
    Powered By <a href="https://github.com/DiegoViana90" target="_blank">Diego Viana</a>
</div>
