@page "/"

<PageTitle>Home</PageTitle>

<div class="centered-content">
    <img src="images/Smile File Manager - SF.png" alt="Smile File Manager Logo" style="width: 200px; height: auto; margin-bottom: 20px;" />
    <h1>Bem vindo a Smile File Manager</h1>
    <p>Seu sistema especializado em gerenciamento de pacientes.</p>
</div>

<div class="bottom-content">
    Powered By <a href="https://github.com/DiegoViana90" target="_blank">Diego Viana</a>
</div>
