@inherits LayoutComponentBase

<PageTitle>SmileFileManager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>@currentDateTime</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    private DateTimeService DateTimeService { get; set; } = null!;

    private string currentDateTime = "";

    protected override void OnInitialized()
    {
        currentDateTime = DateTimeService.CurrentDateTime;
        DateTimeService.OnTimeUpdated += UpdateTime;
        DateTimeService.Start();
    }

    private void UpdateTime()
    {
        InvokeAsync(() =>
        {
            currentDateTime = DateTimeService.CurrentDateTime;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        DateTimeService.OnTimeUpdated -= UpdateTime;
    }
}
